.App {
  text-align: center;
}
.show{
  display: block;
  height: 100px;
  width: 150px;
  background-color: aqua;
  margin: 20px auto;
}
.hide{
  display: none;
}
.block2{
  width: 150px;
  height: 100px;
  background-color: antiquewhite;
  border: 2px solid bisque;
  text-align: center;
  margin: 20px auto;
}
.button{
  width: 150px;
  height: 20px;
  margin: 10px;
}